body {
  font-family: 'Lato', sans-serif;
  background-image: -webkit-linear-gradient(bottom, #005aa7, #fffde4);
  background-image: linear-gradient(to top, #005aa7, #fffde4);
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .vending-machine {
    height: 650px;
    width: 500px;
    background: #3972ab;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 200px;
    grid-template-columns: 300px 200px;
    -ms-grid-rows: 75px 320px 255px;
    grid-template-rows: 75px 320px 255px;
    grid-template-areas: "title title" "product-area coin-area" "bought-area bought-area";
    border: 4px solid white;
    border-radius: 2px;
    .title {
      grid-area: title;
      border: 3px solid white;
      h1 {
        text-align: center;
      }
    }
    .product-area {
      grid-area: product-area;
      border: 3px solid white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      .product {
        margin: 15px 0 15px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
    .coin-area {
      grid-area: coin-area;
      border: 3px solid white;
      padding: 5px;
      text-align: center;
      font-size: .9em;

      &__input {
        margin-bottom: 10px;
      }
      .button-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      &__coins {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 10px 0 10px 0;
        .active:after {
          background: white;
        }
        .coin {
          position: relative;
          font-size: .75em;
          z-index: 1;
          &:hover {
            cursor: pointer;
            &:after {
              -webkit-transform: translate(-50%, -50%) scale(1.05);
              transform: translate(-50%, -50%) scale(1.05);
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 35px;
            width: 35px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border: 2px solid black;
            border-radius: 50%;
            -webkit-transition: -webkit-transform .15s ease-in-out;
            transition: -webkit-transform .15s ease-in-out;
            transition: transform .15s ease-in-out;
            transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
            z-index: -1;
          }
        }
      }
      &__total-amount, &__rest {
        text-align: left;
      }
      &__alert {
        color: red;
        border-radius: 5px;
        background: white;
      }
    }
    .bought-area {
      grid-area: bought-area;
      border: 3px solid white;
      position: relative;
      .trap {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #353131;
        width: 150px;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .trap__product {
          height: 40px;
          -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
          transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
          -webkit-transform: scale(0) rotate(180deg);
          transform: scale(0) rotate(180deg);
        }
        .bought {
          -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
        }
      }
      .service {
        background: #3972ab;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 10;
        display: none;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .service-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
        &-column {
          margin: 0 5px 0 5px;
          text-align: center;
          &__name {
            text-align: center;
            font-size: .85em;
          }
          &__element {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-top: 1px solid black;
            font-size: .75em;
            margin-bottom: 5px;
            p {
              margin: 0;
            }
            .input-wrapper {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
.button {
  display: inline-block;
  zoom: 1;
  padding: 4px 7px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: #eee;
    color: #555;
  }
  &:active {
    background: #e9e9e9;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  }
  &--green, &--red {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }
  &--green {
    background-color: #57a957;
    border-color: #57a957;
    &:hover {
      background-color: #62c462;
    }
    &:active {
      background: #57a957;
    }
  }
  &--red {
    background-color: #ca3535;
    border-color: #c43c35;
    &:hover {
      background-color: #ee5f5b;
    }
    &:active {
      background: #c43c35;
    }
  }
  &--moved-center, &--moved-left {
    position: absolute;
    bottom: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &--moved-center {
    left: 50%;
  }
  &--moved-left {
    left: 25%;
  }
}